@import 'tailwindcss';
@import '@fontsource-variable/montserrat';

@theme {
	--color-primary: #2D4032;
	--color-offwhite: #F9F9F7;
	--color-gold: #E5D3B3;
	--color-footer: #1a2520;
	--font-heading: 'Montserrat Variable', sans-serif;
	--font-body: 'Montserrat Variable', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-family: var(--font-body);
	color: var(--color-primary);
}

section {
	scroll-margin-top: 8rem;
}
